/* =========================
   SEARCH CONTROLS
========================= */
.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#searchInput {
  width: 280px;
  padding: 10px 12px;

  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.15);
  border-radius: 10px;

  color: white;
  outline: none;

  font-family: 'Josefin Sans', sans-serif;
}

#searchInput::placeholder {
  color: #777;
}
